<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>
  <script src='jquery/jquery.js'></script>
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
  <script src='bootstrap/js/bootstrap.js'></script> -->
  <!--import semantic lib -->
  <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.css">
  <script src='semantic-ui/semantic.js'></script>
  <!-- import main js file -->
  <script src="main.js"></script>
</head>

<body>


  <div class="ui sidebar inverted vertical menu ">
    <!-- To add new items here-->
    <div class="ui header"></div>


    <a class="item" id="showUploadDocumentForm">Upload new File</a>
    <a class="item" id="showFilesHistory">show uploaded Files</a>


  </div>
  <div class="pusher">
    <div class="ui segments  black ">
      <div class="ui segment left inverted black">
        <h1 class="ui header center alinged centered"><%- pagetitle %></h1>
      </div>
    </div>
    <div class="ui container">
      <div class="segments piled  ui horizontal">
        <div class="ui segment clearing ">
          <div class="ui button red  left floated" onclick="$('.ui.sidebar').sidebar('toggle');">Show Sidbar Menu</div>
        </div>
        <div class="ui segment right floated ">
          <div class="ui red ribbon label">Hostname :
          </div>
          <span><%- hostname %> on port : <%- portinuse %> </span>
        </div>
      </div>

      <div class="ui container fluid" id="loadPagesSection">

      </div>

    </div>
  </div>
  </div>


</body>

</html>