.ui.fullscreen.modal {
        left: auto !important;
}

/**

**/
.pdfPagesPrevieContainer {}

.corser {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100000;
        color: black
}

#canvasContainer {
        margin: auto;
}