.ui.fullscreen.modal {
        left: auto !important;
}

/**

**/
.pdfPagesPrevieContainer {}

.corser {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100000;
        color: black
}

#canvasContainer {
        margin: auto;
}

/* add style for signPlaceStyle */
.signPlaceStyle {
        -webkit-box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

/* qr code place */
.qr_client_link_path {
        position: absolute;
        z-index: 10000;
        right: 10px;
        bottom: 10px;
        height: 150px;
        width: 150px;
}

/* 
 */
.toolsContainerSection {
        position: absolute;
        bottom: 10px;
        left: 10px;
}

/*  */
.signaturePreviewSection {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 100000;
        display: none;
}

/*  */
#signaturePreviewImg {
        width: 5cm;
}

/*  */
.afterToolBtn {
        display: none;
}

/*  */
.leftSideTools {
        position: fixed;
        left: -30px;
        top: 0px;
        background: #d05c5c;
}