<!-- modal -->
<div class="ui modal " id="previewModal">
  <div class="header">Select signaturies places</div>

  <div class=" scrolling  content" id="previewModalContent">
    <div class="ui celled internally grid  stackable" id="lockableModalContainer">
      <div class="four column row orange fileTopInfosContainer">
        <div class="column four wide ">File name : <span id="fileNameText"></span></div>
        <div class="column four wide">Signaturies number :<span id="signsNumberText"></span></div>
        <div class="column four wide">File type : <span id="fileTypeText"></span></div>
        <div class="column four wide">Pages number : <span id="pagesNumberText"></span></div>
      </div>

      <div class="tow column row">

        <div class="column tow wided" id="">

        </div>

        <div class="fourteen wide column ui rail pdfPagesPrevieContainer">

          <div class="ui segment centered center aligned">
            <div id="canvasContainer">
            </div>
          </div>
        </div>

      </div>
      <!--  -->
      <div class="ui dimmer">
        <div class="content">
          <h2 class="ui inverted icon header">
            <i class="huge notched circle loading icon"></i>
            WORKING ON SIGNATURE DEVICE...
          </h2>
          Please wait until the signatories finishing..
        </div>
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui button negative red mini">Close</div>
    <div class="ui primary button positive">Submit</div>
  </div>
  <div class="toolsContainerSection" id="toolsContainerSection">
    <!--  -->
    <button class="ui icon mini button ppp black" id="ChangePenColor">
      <i class="font icon"></i>
    </button>
    <div class="ui fluid popup bottom left transition hidden colorsSecetor"
      style="top: 553px; left: 1px; bottom: auto; right: auto; width: 960px;">
      <div class="ui menu">
        <div class="ui item">
          <div class="ui button blue mini changeColor" color="blue">Blue</div>
        </div>
        <div class="ui item">
          <div class="ui button black mini changeColor" color="black">Black</div>
        </div>
        <div class="ui item">
          <div class="ui button red mini changeColor" color="red">Red</div>
        </div>
      </div>
    </div>
    <!--  -->
    <button class="ui icon mini button pp" id="clearSignaturePad" data-content="Clear Signature Pad.">
      <i class="sync alternate icon "></i>
    </button>
    <!--  -->
    <div class="ui icon button blue mini afterToolBtn" id="downloadPDF">
      <i class="icon download"></i>
    </div>
    <!--  -->
    <div class="ui icon button green mini afterToolBtn" id="printPages">
      <i class="icon print"></i>
    </div>
    <!--  -->
    <div class="ui icon button orange mini afterToolBtn" id="downloadAsPNG">
      <i class="file image icon"></i>
    </div>

  </div>

</div>
<script>
  // global vars to use in other scopes
  var pdfFile = null;

  // page origin size
  var _A4_ORIGINAL_WIDTH = 2480;
  var imgHeight = null;

  // init document key down, to detect if user pressd any 
  // nomric key
  var pressedKeyboardKey = null;
  var ctrlKey = false;
  var onlicOne = false;

  // make cordinations global
  var cord = {};

  // store canvas in this object to
  // to pass them to other device..
  var xCanvases = [];

  // if only one signaturies it have to be just number one... 
  if (parseInt(numberOfSignaturies) === 1) {
    pressedKeyboardKey = 1;
    onlicOne = true;
  } else {
    onlicOne = false;
  }

  // add keydown action for the document:
  $(document).keydown((e) => {
    // to ba sure that this action will never take
    // any other pressed key rether then nomric
    if ((e.keyCode >= 97 && e.keyCode <= 105) || (e.keyCode >= 49 && e.keyCode <= 57)) {
      try {
        var parsedSingaturiesBumber = parseInt(numberOfSignaturies);
        if (parsedSingaturiesBumber === 1) {
          pressedKeyboardKey = 1;
        } else {
          // alarm the user that other then nomric Numbers are not allowed
          // in range 97 - 105
          if (e.key > parseInt(numberOfSignaturies)) {
            // notifi user that he pressed a number out ofe range....
            alert("YOUR PEOPLE ARE ONLY : " + parseInt(numberOfSignaturies) + " SIGNATURIES. ")
          } else {
            pressedKeyboardKey = e.key;
          }
        }
      } catch (error) {
        alert("ENTERED SIGNATURIES NUMBER WRONG...");
      }

    }
    // to check any other keyboard
    else {
      if (e.ctrlKey) {
        ctrlKey = true;
      }
    }

  });

  // add keyup action for the document
  $(document).keyup(() => {
    if (!onlicOne) {
      pressedKeyboardKey = null;
    }
    ctrlKey = false;
  });

  var _PDF_DOC = null;
  var _PDF_DOC_PAGES_NUM = 0;
  var _PDF_PAGER = 1;



  /** to shpw the modal after  **/
  $(`#previewModal`).modal({
    closable: false,
    // set on modal show action
    onShow: (modal) => {
      console.log("Modal On Show")
      /** 
        First step is to  check eather the file PDF or IMG
        then i have to show the user the file with adding 
        action to choose which signaturies will be the next
         **/
      newFileToUpload; // uploaded file after changing the name
      newFileName; // entered file name
      numberOfSignaturies; // Signaturies number
      var fileType = newFileToUpload.type;
      var fileName = newFileToUpload.name;
      var fileSize = newFileToUpload.size;

      /** show data to user **/
      $(`#signsNumberText`).html(numberOfSignaturies);
      $(`#fileNameText`).html(fileName);
      $(`#fileTypeText`).html(fileType);


      /** check if the file is pdf **/
      if (fileType.split("/")[1].toLowerCase() === "pdf") {
        //  get file URL Blob for PDFJS
        var fileURL = URL.createObjectURL(newFileToUpload);

        // emiting to server 
        socket.emit("orderToConverTheFile", {
          fileName: fileName,
          fileSize: fileSize,
          fileType: fileType,
          newFileName: newFileName
        });

        // start handling pdf file

        var loadingPDF = PDFJS.getDocument(fileURL);
        var pdf = loadingPDF.promise;

        pdf.then(readPDFfileFromUploadedFile)




      }
      // in case was the uploaded file image not pdf
      else {}
      initImportatElements()
    },
    // on modal submited
    // here will start send the data 
    // the file name and so on to client 
    // side 
    onApprove: modal => {
      if (!onModalApprove(modal)) {
        return false;
      }
    },
    // on modal hidden
    onHidden: () => {
      $(`#previewModal`).remove();
      // stop document keyup and keydoun events
      $(document).off("keydown");
      $(document).off("keyup");

    },
    // on modal deny
    onDeny: (modal) => {
      previewModalBtnsAction.modalOnDeny(modal);
    }
  }).modal("show");


  // handling pdf doc
  function readPDFfileFromUploadedFile(pdf) {
    _PDF_DOC = pdf;

    pdfFile = pdf; // the pdf global
    _PDF_DOC_PAGES_NUM = pdf.numPages; // length of pages 

    // set page number to user
    $(`#pagesNumberText`).html(_PDF_DOC_PAGES_NUM);

    // itarate  the pages from object
    pdf.getPage(_PDF_PAGER).then(handelSinglePage);

  }

  // handeling singe page
  function handelSinglePage(page) {

    // set pdf page view port scale
    var viewport = page.getViewport(_A4_ORIGINAL_WIDTH / page.getViewport(1).width);

    // create new canvas
    var x = document.createElement("CANVAS");
    x.style.display = "none";
    x.width = _A4_ORIGINAL_WIDTH;
    // set canvas height
    imgHeight = page.getViewport(_A4_ORIGINAL_WIDTH / page.getViewport(1).width).height
    x.height = imgHeight;
    // add id attr to canvas
    x.setAttribute("id", `canvos_${page.pageNumber}`);
    x.setAttribute("page_num", page.pageNumber);

    // set canvos container width 
    //$(`#canvasContainer`).width(x.width);
    // append the canvos into canvasContainer element
    $(`#canvasContainer`).append(x);


    // get canvas context for pdfjs render
    var context = x.getContext('2d');

    //var sr = $(`#canvos_${page.pageNumber}`).width() / page.getViewport(1).width;


    // set canvas sizes from view port of pdf page
    // start rendaring the page 
    // in this section is just to render singe page
    page.render({
        canvasContext: context,
        viewport: viewport
      })
      // add aciton to after rendering action
      .then(() => {

        if (_PDF_PAGER !== _PDF_DOC_PAGES_NUM) {
          _PDF_PAGER++;
          _PDF_DOC.getPage(_PDF_PAGER).then(handelSinglePage);
        }

        // add css attrs to canvas
        x.style.display = "none";
        // get data of that image
        var getCanvasURL = x.toDataURL('image/png');

        // create img tag
        var img = $(
          `<img id="img_canv_${page.pageNumber}" width="${x.width / 4}" height="${x.height / 4}" 
      class="page_img" pageNum="${page.pageNumber}" style="border:1px black solid" >`
        );

        img.attr("src", getCanvasURL);


        // on mouse hover over the image
        $(img).mousemove((event) => {
          // start mouseonmove aciton 
          imagemouseOverAction(event, img);
        })

        // asign mouseover  action to the image
        // on mouse on the image 
        $(img).mouseover((event) => {
          // resize the image to orginal size
          // $(img).css("width", _A4_ORIGINAL_WIDTH)
          //  $(img).css("height", imgHeight);
        })
        // add click on img action 
        $(img).click((event) => {
          // check if user pressed any number
          if (pressedKeyboardKey !== null) {
            // record mouse potions on click
            ImgOnClickAction(event, img, page.pageNumber);
          }
        })
        // create single image continer to add the sign relativ to it
        var singlImgeContainer =
          $(`<div id="singleImgeContainer" img_num="${page.pageNumber}" ></div>`);

        singlImgeContainer.width(x.width / 4)
        singlImgeContainer.height(x.height / 4);
        singlImgeContainer.css({
          position: "relative"
        })


        singlImgeContainer.append(img);
        // append the image into the canvas container
        $(`#canvasContainer`).append(singlImgeContainer);

        // pushing canvas to global object
        xCanvases.push(x);

        // to show the element again
        img.css("display", "block");
      });

    /**
     * todo : 
     * 1- create image element
     * 2- assign the canvas to this image
     * 3- set image small size to be able to control
     *    and zoom and so on
     * **/
  }

  //  action after file rendering

  function createImageElement(x, page) {


  }

  // image mouseover action
  function imagemouseOverAction(event, img) {
    var bouds = $(img).get(0).getBoundingClientRect()


    // get current mouse corser cordination 
    // relatice to single image
    var x = (event.pageX - $(img).offset().left) + $(window).scrollLeft();
    var y = (event.pageY - $(img).offset().top) + $(window).scrollTop();


    /**
    create circle 
    $(`#corser`).css({
      top: (event.pageY),
      left: (event.pageX)
    })
    set postion reviewer postion 
    $(`#textT`).text(
      "Y : " +
      (y.toFixed(1)) +
      "  X : " +
      (x.toFixed(1)) +
      " IMG : " + $(img).attr("id")
    )
    **/



    // insert mouse postion into an object
    // to call them again leter
    cord[$(img).attr("id")] = {
      x: x,
      y: y
    }

  }


  // on click on the img action
  // stor all entered data into object
  // to be called when i want to marge the
  // signature with the image
  var storedCorns = [];
  var labelsCounter = 0;

  function ImgOnClickAction(event, img, pageNum) {

    var imgID = $(img).attr("id");

    if (cord[imgID] !== null || cord[imgID] !== undefined) {

      //console.log("x :  ", cord[imgID].x.toFixed(0), " y : ", cord[imgID].y.toFixed(0), "IMG ID : ", imgID)

      // create sagment to show user where he clicked
      var labelWidth = 100;
      var labelHeight = 25;
      var sign = $(
        `<a class="ui tag red label signPlaceStyle" imgID="${imgID}" 
      cordX="${cord[imgID].x.toFixed(0)}" cordY="${cord[imgID].y.toFixed(0)}" >
        <span style="font-size : 10px;" >${_COLLECTED_NAMES_FORM[pressedKeyboardKey]}</span> : ${pressedKeyboardKey}</a>`
      );
      var closIcon = $(`<i class="delete icon"></i>`);
      sign.append(closIcon);

      //add remove ation for every single sign place label
      closIcon.click(removeSignPlaceLabel);


      // set center postion of the label
      var getSignLabelHeight = labelHeight / 2;
      var getSignLabelWidth = sign.width() / 2;
      // asign style to the coming  signature place 
      sign.css({
        position: "absolute",
        top: (cord[imgID].y.toFixed(0) - getSignLabelHeight) + "px",
        left: (cord[imgID].x.toFixed(0) - getSignLabelWidth) + "px",
        color: "red",
        height: labelHeight + "px",
        background: ""
      });

      //console.log("height : ", getSignLabelHeight, "width : ", getSignLabelWidth)

      // add the sign place on the image
      var singleImageContainer = $(`div[img_num='${$(img).attr("pagenum")}']`);
      singleImageContainer.append(sign);

      // insert sign cord in the object 
      var clickCord = {
        imgID: imgID,
        X: cord[imgID].x.toFixed(0),
        Y: cord[imgID].y.toFixed(0),
        SN: pressedKeyboardKey,
        pageNum: pageNum,
        removed: false
      }

      // check if name of signature was entered..
      if (_COLLECTED_NAMES_FORM[pressedKeyboardKey] !== "" && _COLLECTED_NAMES_FORM[pressedKeyboardKey] !==
        undefined) {
        clickCord["signName"] = _COLLECTED_NAMES_FORM[pressedKeyboardKey];
      }

      sign.attr("obIndex", storedCorns.length);
      storedCorns.push(clickCord);
      labelsCounter++;

      // console.log(storedCorns);
    } else {
      // in case the element was not found in the object
    }
    // hide after tool btns
    $(`.afterToolBtn`).css("display", "none");
  }

  // if user want to remove sign place label
  // here is the action that for
  function removeSignPlaceLabel(event) {
    var imgID = $(this).parent().attr("imgID");
    var cordX = $(this).parent().attr("cordx");
    var signNum = $(this).parent().attr("numberOfSignaturies");
    var signIndex = $(this).parent().attr("obIndex");
    storedCorns[signIndex]["removed"] = true;

    labelsCounter--;

    $(this).parent().remove();

    if (labelsCounter === 0) {
      storedCorns = [];
    }
    // hide after tool btns
    $(`.afterToolBtn`).css("display", "none");
  }

  // add action to the modal, on modal submit button clicked
  function onModalApprove(modal) {
    // check that places are selected correctly
    if (storedCorns.length > 0 && labelsCounter !== 0) {
      // here i have to send data to client side 
      // X : postions and file name and pages
      var requested_file_name = newFileToUpload.name;
      var postions_data = storedCorns;
      emitData("comingRequestToClient", {
        msg: "_signature_data",
        data: {
          requested_file_name: requested_file_name,
          postions_data: postions_data,
          extention: newFileToUpload.type,
          signaturiesNum: numberOfSignaturies,
          signatoriesNamesForm: _COLLECTED_NAMES_FORM
        }
      });
      // remove all labels from the review seciotn
      $(`.signPlaceStyle`).remove();

      // lock the display until client send responce .... 
      $(`#lockableModalContainer`).dimmer({
        closable: false
      }).dimmer("show");

      return false;
    } else {
      alert("NO PLACES SELECTED TO PUT THE SIGNATURE INSIDE... M2 ")
    }

  }

  // declare paper sizes to call them later.
  var landscapeA4Sizes = {
    width: "29.7cm",
    height: "21cm",
  };
  var portraitA4Sizes = {
    width: "21cm",
    height: "29.7cm"
  };

  // to init elements on modal beeing show
  function initImportatElements() {
    // init button popup 
    $(`.pp`).popup({
      inline: true
    });
    $(`.ppp`).popup({
      inline: true,
      hoverable: true,
      position: 'bottom left',
      delay: {
        show: 300,
        hide: 800
      },
      popup: "#colorsSecetor"
    });
    // btns actions assigning
    $("#clearSignaturePad").click((evt) => {
      previewModalBtnsAction.clearPadActionBtn(evt);
    });
    $(`#ChangePenColor`).click((evt) => {
      previewModalBtnsAction.changePenColorBtn(evt);
    });
    $(`#downloadPDF`).click((eve) => {
      previewModalBtnsAction.onDownloadPDFbtnAction(eve);
    })
    $(`#printPages`).click((evt) => {
      previewModalBtnsAction.onPrintPagesBtnAction(evt);
    })
    $(`#downloadAsPNG`).click((evt) => {
      previewModalBtnsAction.onDownloadPNGBtnAciton(evt);
    })
    // assigning color buttons actions 
    $(`.changeColor`).click((evt) => {
      previewModalBtnsAction.setColorBtnsAction(evt);
    });
    // hide after tool btns
    $(`.afterToolBtn`).css("display", "none");
  }

  // all btns action
  var previewModalBtnsAction = {
    // clear pad action
    clearPadActionBtn: (evt) => {
      common.emitMSG({
        msg: "clearPad"
      });
    },
    //
    changePenColorBtn: (evt) => {
      var defualtsColors = ["blue", "black", "red"];
    },
    //
    setColorBtnsAction: (evt) => {
      var selectedColor = $(evt.target).attr("color");
      // emit new color to device
      common.emitMSG({
        msg: "changePenColor",
        newColor: selectedColor
      });

      $(`#ChangePenColor`).find(".icon").css("color", selectedColor);
    },
    // on modal deny
    modalOnDeny: (modal) => {
      common.emitMSG({
        msg: "refresh"
      })
    },
    // on download pages btn aciton
    onDownloadPDFbtnAction: () => {
      // first check that the object of canves is not empry
      if (canvasesAfterEditing !== null) {
        // start eaching the canvass object
        var imgsContainer = document.createElement("div");

        // assign sizes to container of  popup window 
        imgsContainer.width = portraitA4Sizes.width  ;
        imgsContainer.height = portraitA4Sizes.height ;

        $.each(canvasesAfterEditing, (index, canvas) => {
          var canvasDataURL = canvas.toDataURL(); // png img
          var imgObj = document.createElement("img");
          // asign sizes to img object
          imgObj.style.width = portraitA4Sizes.width ;
          imgObj.style.height = portraitA4Sizes.height ;
          imgObj.src = canvasDataURL;

          imgsContainer.append(imgObj);
        });

        window.open("", "blanck").document.write(imgsContainer.innerHTML);



        // var windowObject = window.open();
        //windowObject.document.write(imgsContainer);
      }
    },
    // on print pages btn aciton 
    onPrintPagesBtnAction: () => {

    },
    // on download as png btn Action 
    onDownloadPNGBtnAciton: () => {

    }
  }
</script>