<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Client Side...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='jquery/jquery.js'></script>

    <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <script src='bootstrap/js/bootstrap.js'></script> -->
    <!--import semantic lib -->
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.css">
    <script src='semantic-ui/semantic.js'></script>

    <!-- import pdfjs librery -->
    <script src="assets/pdfjs/pdf.js"></script>
    <script src="assets/pdfjs/pdf.worker.js"></script>

    <!-- import socket io  -->
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    <!--  -->
    <div class="filePreviewSeciton" id="filePreviewSeciton">
        <div id="pdfRenderContainer" class="pdfRenderContainer"></div>
    </div>
    <!--  -->
    <div class="signatureTakerSection" id="signatureTakerSection">
        <!--  -->
        <div class="signDrowSeciton " id="signDrowSeciton">
            <!--  -->
            <div class="submitSignatureBtn  ui icon button green large" id="submitSignatureBtn">
                <i class="check icon"></i>
            </div>
            <!--  -->
            <div class="clearSignaturBtn ui icon button red" id="clearSignaturBtn">
                <i class="trash alternate icon"></i>
            </div>
        </div>
        <!--  -->
        <div class="signaturiesInfoSeciton" id="signaturiesInfoSeciton">
            <div class="signaturiesName" id="signaturiesName">jkhjkh</div>
            <div class="signaturiesNum">1</div>
        </div>
    </div>
</body>


<!-- import main js file -->
<script src="mainC.js"></script>
<!-- import main css file  -->
<link rel="stylesheet" type="text/css" href="mainC.css">

</html>