<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Client Side...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='jquery/jquery.js'></script>

    <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <script src='bootstrap/js/bootstrap.js'></script> -->
    <!--import semantic lib -->
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.css">
    <script src='semantic-ui/semantic.js'></script>

    <!-- import pdfjs librery -->
    <script src="assets/pdfjs/pdf.js"></script>
    <script src="assets/pdfjs/pdf.worker.js"></script>

    <!-- import socket io  -->
    <script src="socket.io/socket.io.js"></script>

    <!-- import signature pad -->
    <script src="assets/signaturePad/js/signature_pad.umd.js"></script>

</head>

<body>


    <div class="ui dimmer loadingDimmer">
        <div class="content">
            <h2 class="ui inverted icon header">
                <i class="huge notched circle loading icon"></i>
                coming...
            </h2>
        </div>
    </div>
    <!--  -->
    <div class="filePreviewSeciton" id="filePreviewSeciton">

    </div>
    <hr style="margin: 0px">
    <!--  -->
    <div class="signatureTakerSection startSigningAction" id="signatureTakerSection">
        <!--  -->
        <div class="signDrowSeciton " id="signDrowSeciton">
            <!--  -->
            <canvas class="signDrowSecitonCanvas" id="signDrowSecitonCanvas" ></canvas>
            <!--  -->
            <div class="submitSignatureBtn  ui icon button green large disabled" id="submitSignatureBtn">
                <i class="check icon"></i>
            </div>
            <!--  -->
            <div class="clearSignaturBtn ui icon button red" id="clearSignaturBtn">
                <i class="trash alternate icon"></i>
            </div>
        </div>
        <!--  -->
        <div class="signaturiesInfoSeciton" id="signaturiesInfoSeciton">
            <div class="signaturiesName" id="signaturiesName"></div>
            <div class="signaturiesNum" id="signaturiesNum"></div>
        </div>
        
        <div class="ui dimmer">
            <div class="content">
                <h2 class="ui inverted icon header">
                    <i class="icon"></i>
                    Click Here to start
                </h2>
            </div>
        </div>
    </div>
    <div class="pageAmountContainer ui red label" id="pageAmountContainer"></div>
</body>

<!-- import main css file  -->
<link rel="stylesheet" type="text/css" href="mainC.css">
<!-- import main js file -->
<script src="mainC.js"></script>


</html>