<!-- 
    this modal is only to ask the user to enter 
    data about the uploaded file, for example 
    new name of the file, the number of the
    signaturies.
 -->
<div class="ui modal askUserToEnterFileName">
   
    <div class="header">
        Enter Important Data
    </div>

    <div class="content">
        <div class="ui equal width form">
            <di class="ui fields">
                <div class="field newNameField">
                    <label>New Name for this file:</label>
                    <div class="ui right labeled input">
                        <input type="text" id="newNameLabel" >
                        <div class="ui basic label" id="fileExtention"></div>
                    </div>
                </div>
                <div class="field signaturiesNumberField">
                    <label for="">Number of the signaturies</label>
                    <div class="ui right labeled left icon input">
                        <i class="sort numeric up icon"></i>
                        <input type="number" placeholder="Enter number" maxlength="2" max="10" min="0" value="0" id="signaturies_number">
                        <a class="ui tag label">Signatories</a>
                    </div>
                   
                </div>
            </di>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            Cancle
        </div>
        <div class="ui positive right labeled icon button">
            Ok
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<script>
    /**
     * get extention of file
     * @returns {}
     * **/
    function returnFileExtions(file) {
        /**
         * this funciton will return the file name but splited 
         * to 2 parts ; number 1 will be the file name, and the secound 
         * will be the fle extions
         * **/
        return [
            "." + file.type.split("/")[1],
            file.name.split(".")[0]
        ];
    }
    /** set the old file name in the input filed **/
    $("#newNameLabel").attr("placeholder" , returnFileExtions(uploaded_file)[1]);
    /** change the extions file beside the file name field **/
    $(`#fileExtention`).text(returnFileExtions(uploaded_file)[0].toUpperCase());

</script>