 <div class="ui small modal" id="pagesSelectorModal">
     <div class=" header">Pages Selector</div>

     <div class="content">
         <label for="">Plase write which pages would you like to download..</label>
         <div class="ui label red right floated orange">
             <h1 class="ui header inverted " id="pagesNumber"></h1>
         </div>
         <div class="ui segment inverted black">
             <div class="ui form tiny inverted black">
                 <div class="equal width fields">
                     <div class="field">
                         <label>From</label>
                         <input inpType="from" class="fromToOnChange" id="fromNumInput" readonly>
                     </div>
                     <div class="field">
                         <label>To</label>
                         <input inpType="to" class="fromToOnChange" id="toNumInput" readonly>
                     </div>
                 </div>
                 <div class="small field">
                     <label for="pagesNumbersArray">Write pages numbers</label>
                     <select multiple class="ui fluid search multiple dropdown" id="pagesNumbersArray"></select>
                     <label for="pagesNumbersArray">this seciton try to type (1 , 2 , 3 )</label>
                 </div>
                 <div class="ui field">
                     <label>Please select quality <span id="qualityValue" style="font-size: 20px;">2</span> </label>
                     <div id="slider">
                         <div id="resolotionSelector" class="ui-slider-handle"></div>
                     </div>
                     <p>Number (1) means that the single page will be 2480px width
                         <br>Number (2) means that the single page will be 2480px / 2 width</p>

                 </div>
             </div>

         </div>

     </div>
     <div class="actions">
         <div class="ui red inverted button" id="pagesSelectorCloseBtn">
             <i class="remove icon"></i>
             Close
         </div>
         <div class="ui  green inverted button" id="pagesSelectorOkBtn">
             <i class="download icon"></i>
             Save
         </div>
     </div>
 </div>

 <script id="scripteToRemove">
     var spin = $(".fromToOnChange").spinner();
     var drop = $(`#pagesNumbersArray`).dropdown();
     var slider = $(`#resolotionSelector`).slider()
     var _CHOOSED_PAGES_ = [];
     // in case was range it should be 1 , if specific pages should be 2
     var _SELECTED_METHOD = 1;
     var _SLIDER_VALUE = 100;
     //
     $(`#pagesSelectorModal`).modal({
         closable: false,
         allowMultiple: true,
         onHidden: () => {
             // show previos modal    
             // to remove this modal after hidden it
             $(`#pagesSelectorModal`).remove();
             $(`#scripteToRemove`).remove();
             // to hide secound dimmer modal
             $(`#previewModal`).dimmer("hide");

         },
         // on modal show, init events 
         onShow: () => {

             $(`#pagesNumber`).text("Total Pages are : " + _PDF_DOC_PAGES_NUM);
             //
             spin.spinner({
                 spin: (event, ui) => {
                     drop.dropdown("clear");
                     var currentValue = $(event.target).attr("inpType");
                     switch (currentValue) {
                         case "from":
                             if (ui.value <= 0 || ui.value > _PDF_DOC_PAGES_NUM) {
                                 return false;
                             }
                             break;
                         case "to":
                             if (ui.value <= 0 || ui.value > _PDF_DOC_PAGES_NUM) {
                                 return false;
                             }
                             break;
                     }
                     _SELECTED_METHOD = 1
                 }
             })
             // 
             drop.dropdown({
                 allowAdditions: true,
                 values: toReturnPagesAsArray(),
                 onAdd: (addedValue, addedText, $addedChoice) => {
                     spin.spinner("value", "");
                     _SELECTED_METHOD = 2
                 }
             });
             // show secound modal dimmer
             $(`#previewModal`).dimmer({
                 closable: false
             }).dimmer("show");
             //
             slider.slider({
                 max: 2,
                 min: 1,
                 step: 1,
                 value: 2,
                 slide: (event, ui) => {
                     $(`#qualityValue`).text(ui.value)
                 }
             })
         }
     }).modal(`show`);


     // on ok btn aciton
     $(`#pagesSelectorOkBtn`).click((evt) => {

         elementsActions.okBtnAction(evt);

         // to hide modal after submition
         //$(`#pagesSelectorModal`).modal("hide");
     });


     // 
     $(`#pagesSelectorCloseBtn`).click((evt) => {
         elementsActions.closeBtnAction(evt)

         // to hide modal after submition
         $(`#pagesSelectorModal`).modal("hide");
     });

     // ok btn action, 
     // to start transfare the canvas to server side 
     // then save them inro server as images 
     // after creating new dir and return dir name
     // 
     var elementsActions = {
         okBtnAction: (evt) => {
             switch (_SELECTED_METHOD) {
                 // in case was pages range, to get selected values
                 case 1:
                     var fromVal = $(spin.get(0)).spinner("value");
                     var toVal = $(spin.get(1)).spinner("value");
                     if (fromVal === null || toVal === null) {
                         alert("PLEASE TYPE RENAGE NUMBER ")
                     }
                     // in case was all input fine and there is no mistake
                     else {
                         _CHOOSED_PAGES_ = {
                             method: "range",
                             data: {
                                 from: fromVal,
                                 to: toVal
                             }
                         }
                     }
                     break;
                 case 2:
                     var selectedValues = drop.dropdown("get value");
                     if (selectedValues.length > 0) {
                         _CHOOSED_PAGES_ = {
                             method: "specific",
                             data: selectedValues
                         }
                     } else {
                         alert("PLEASE TYPE RENAGE NUMBER ")
                     }
                     break;
             }
             // start process images to save them in the hard disk
             var choosedCanvas = [];
             // to get all choosen canvass 
             // then pass them to server as object base64
             switch (_CHOOSED_PAGES_.method) {
                 case "range":
                     var from = parseInt(_CHOOSED_PAGES_.data.from);
                     var to = parseInt(_CHOOSED_PAGES_.data.to);
                     // start collecting the selected canvas
                     for (let index = from; index <= to; index++) {
                         // add the selected range numbers
                         choosedCanvas.push(canvasesAfterEditing[index - 1]);
                     }
                     break;
                     // to get selected pages specifics 
                 case "specific":
                     var pagesNumbers = _CHOOSED_PAGES_.data;
                     for (let index = 0; index < pagesNumbers.length; index++) {
                         var canvIndexToGet = parseInt(pagesNumbers[index]) - 1;
                         choosedCanvas.push(canvasesAfterEditing[canvIndexToGet]);
                     }
                     break;
             }
             if (choosedCanvas !== null) {
                 // _A4_ORIGINAL_WIDTH 
                 // start creating scaled canvas 
                 var selectedQulity = slider.slider("value");
                 choosedCanvas.forEach((canvas, canvasIndex) => {
                     //
                     var newImgElement = document.createElement("img");
                     newImgElement.height = canvas.height / selectedQulity;
                     newImgElement.width = canvas.width / selectedQulity;
                     //
                     newImgElement.src = canvas.toDataURL();
                     document.getElementById("previewModalContent").append(newImgElement);
                     //
                     var newCanvas = document.createElement("canvas");
                     newCanvas.height = canvas.height / selectedQulity
                     newCanvas.width = canvas.width / selectedQulity
                     document.getElementById("previewModalContent").append(newCanvas);
                     //
                     var contax = newCanvas.getContext("2d");
                     contax.drawImage(newImgElement, 0, 0, canvas.width / selectedQulity, canvas
                         .height / selectedQulity);
                     // push the canves into array 
                     choosedCanvas[canvasIndex] = newCanvas.toDataURL();

                     newCanvas.remove();
                     newImgElement.remove();
                 });
                 
             }
         },
         // on close btn aciton
         closeBtnAction: (evt) => {

         }
     }

     // to add all pages numbers
     function toReturnPagesAsArray() {
         var pager = [];

         for (let index = 1; index <= _PDF_DOC_PAGES_NUM; index++) {
             pager.push({
                 name: "PAGE : " + index,
                 value: index,
             });

         }
         $(spin.get(0)).spinner("value", 1)
         $(spin.get(1)).spinner("value", _PDF_DOC_PAGES_NUM)
         return pager;
     }
 </script>